@media screen and (max-width: 992px) {
    .col-3{width: 24%;}
    .col-4{width: 32%;}
    .col-5{width: 41.66%;}
    .col-6{width: 49.25%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-12{width: 100%;}

    /*--- About Section --- */
    .about-text {
        padding-left: 3rem;
    }
/*--- Team Section --- */
    .team-overlay > a {
        width: 2.7rem;
        height: 2.7rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .team-overlay>a>i{
        line-height: 2.7rem;
        font-size: 1.5rem;
    }
/*--- Footer Section --- */
    .footer-logo p{
        line-height: 1.3rem;
    }
    .footer-content{
        padding: 1rem 0.5rem 0;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
    .footer-content > h4{
        font-size: 1.1rem;
    }
    .fcontact-icon {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.75rem;
    }
    .fcontact-text p{
        font-size: 0.9rem;
        padding-bottom: 0;
    }
    .fcontact-text > a {
        padding-right: 5px;
        word-break: break-word;
        font-size: 1rem;
    }
    .fcontact-link:first-child{
        margin-right: 1.25rem;
    }
    .fcontact-link > a{
        font-size: 1rem;
    }
    .flickr-item img {
        height: 75px;
    }
}