@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');
:root{
    --clr-top: #009900;
    --b-color: #2c2c22;
    --open-san: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --col-clr: #f1f1f1;
    --clr-pr: #5bc5f4;
    --clr-btn: #0872b9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
}

ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
h3 {
    font-size: 19px;
    font-family: var(--oswald);
    font-weight: 500;
    text-transform: uppercase;
}
h5 {
    font-size: 15px;
    font-family: var(--oswald);
    font-weight: 400;
    text-transform: capitalize;
}
p {
    font-family: var(--open-san);
    font-weight: 400;
    line-height: 24px;
}
.container-full{
    width: 100%;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-3{width: 24%;}
.col-4{width: 32%;}
.col-5{width: 41.66%;}
.col-6{width: 49.25%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-12{width: 100%;}

.common-heading{
    position: relative;
    display: inline-block;
}
.common-heading>h1{
    font-size: 24px;    
    font-weight: 600;
    text-transform: uppercase;    
}
.common-heading>img{
    position: absolute;
    left: 0;
    bottom:0;
    width: 60%;
}

/*--- Main css Start----*/

.top-menu{
    background-color: var(--clr-top);
    color: #fff;
}
.social-icon{
    display: flex;
    line-height: 2rem;
    justify-content: flex-end;
}
.social-icon li{
    margin-left: 0.5rem;
    width: 2rem;
    text-align: center;
}
.social-icon li>a{
    color: #fff;
    position: relative;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    z-index: 1;
}

.social-icon li>a::after{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(0);
    transition: transform 0.3s;
}
.social-icon li>a:hover::after{
    transform: scale(1);
    z-index: -1;
}
.social-icon li>a:hover{
    color: var(--clr-top);
}
.logo{
    width: 95px;
}
.main-menu>ul{
    display: flex;
    justify-content: flex-end;
    height: 70px;
}

.main-menu ul>li {
	margin-left: 1rem;
	text-transform: uppercase;
	padding: 3px 5px;
    font-family: var(--oswald);
    font-weight: 500;
    line-height: 70px;
}

.main-menu ul>li>a{
    color: #000;
    transition: 0.5s;
}

.main-menu ul>li>a:hover{
    color: #4488c3;
}


/*---- Banner Section Start ----*/
.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 87px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
   }
   
   .banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
   }

.banner-text{
    color: #fff;
    font-family: var(--oswald);
    text-align: right;
}

.banner-text .heading-text{
    text-transform: uppercase;
    padding-bottom: 15px;
}

.banner-text .heading-text h2{
    font-size: 30px;
    font-weight: 400;
}
.banner-text .heading-text h1{
    font-size: 40px;
    font-size: 700;
}
.banner-text p{
    font-size: 13px;
    font-family: var(--open-san);
    font-weight: 400;
    padding-left: 60%;
    line-height: 24px;
    padding-bottom: 20px;
}
.banner-btn a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #fff;
    display: inline-block;
    transition: 0.4s;
}
.banner-btn .button-1{
    margin-right: 20px;
}
.banner-btn a:hover{
    background-color: var(--clr-btn);
    border: 1px solid var(--clr-btn);
}
/*--- Banner-1---*/
 .banner-1{
    position: relative;
    width: 100%;
    height: 400px;
    display: none;
}
   .banner-1 img{
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
   }
   
   .banner-overlay{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    
   }

.banner-text-1{
    color: #fff;
    font-family: var(--oswald);
    text-align: right;
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner-text-1 .heading-text-1{
    text-transform: uppercase;
}
.banner-text-1 .heading-text-1 h2{
    font-size: 30px;
    font-weight: 400;
}
.banner-text-1 .heading-text-1 h1{
    font-size: 40px;
    font-size: 700;
}
.banner-text-1 p{
    font-size: 13px;
    font-family: var(--open-san);
    font-weight: 400;
    padding-left: 60%;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.banner-btn-1 a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #fff;
    display: inline-block;
    transition: 0.4s;
}
.banner-btn-1 .button-1{
    margin-right: 20px;
}
.banner-btn-1 a:hover{
    background-color: var(--clr-btn);
    border: 1px solid var(--clr-btn);
} 

/*----About Section Start---*/

#about{
    padding-top: 60px;
    text-align: center;
}
.about-main {
    margin-top: 40px;
}
.about-image {
    text-align: left;
}
about-image>img {
    width: 100%;
}
.about-text p{
    text-align: justify;  
}

/*----Our Services Start---*/
#our-service {
    text-align: center;
    padding-top: 60px;
}
.service-main {
    margin-top: 30px;
}
.service-icon {
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.service-icon>img {
    display: inline-block;
    margin-top: 20%;
    position: relative;
    z-index: 2;
}
.service-icon::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--col-clr);
    left: 5%;
    top: 5%;
    z-index: 1;
    transition: 0.5s;
}
.service-icon::after {
	content: "";
	position: absolute;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	border-radius: 50%;
	border: 3px solid #fff;
	left: -4px;
	top: -4px;
}
.service-icon:hover {
    border-color: var(--clr-pr);
}
.service-icon:hover::before {
    background-color: var(--clr-pr);
}
.service-content {
    background-color: var(--col-clr);
    margin-top: 30px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 1.5rem;
}
.service-content>h3 {
    padding-top: 3rem;
}
.service-content>p {
    padding: 1.25rem;
}
.s-icon-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -19%;
}

/* ----- Our Portfolio Section Start-------*/
#our-portfolio {
    padding-top: 60px;
    text-align: center;
}
.portfolio-container {
    margin-top: 30px;
}
.portfolio-content img {
    width: 100%;
}
.col-inner {
    margin-top: 1rem;
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0 , 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.7s;
}
.overlay>a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--clr-pr);
}
.overlay>a>i {
	font-size: 1.5rem;
	text-align: center;
	line-height: 3rem;
}
.col-inner:hover .overlay {
    opacity: 1;
}
/* ---- Our Team Section start ----- */
#our-team {
    margin-top: 60px;
    text-align: center;
}
.team-container {
    margin-top: 30px;
}
.team-image>img {
    width: 100%;
}
.team-image {
    display: block;
    position: relative;
    transition: 0.5s ease-in-out;
}
.team-image:hover {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.team-image:hover .team-overlay{
    opacity: 1;
}
.team-overlay {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}   
.team-overlay>a{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 1rem;
    transition: 0.5s;
}
.team-overlay>a>i{
    line-height: 3.5rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
}
.team-overlay>a:hover{
    background-color: var(--clr-pr);
    border-color: var(--clr-pr);
}
.team-content>h3{
    padding-top: 10px;
    transition: 0.5s;
}
.team-content>h3:hover{
    color: var(--clr-pr);
}

/*-------- Testimonial Section Start --------*/
#testimonial {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.tostimonial-content {
    margin-top: 30px;
}
.testimonial-text {
    margin-top: 3rem;
    padding: 1rem 1.25rem;
    background-color: #f1f1f1;
    position: relative;
}
.testimonial-text::before {
	content: "";
	position: absolute;
	border-width: 1.5rem 2.3rem;
	border-style: solid;
	border-color: transparent transparent #f1f1f1 transparent;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.testimonial-text>span {
    display: block;
    color: var(--clr-pr);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.testimonial-text>p {
    margin-top: 0.5rem;
    text-align: center;
}
/*--- Footer Section stsrt -------*/
.footer-main {
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 45px;
    color: #fff;
}

.footer-logo>p {
    padding-top: 20px;
}
.footer-bottom {
    width: 100%;
    height: 2.5rem;
    background-color: #555555;
    text-align: center;
    color: #bdbdbd;
}
.footer-bottom>p {
    line-height: 2.25rem;
}
