@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');
:root{
    --clr-top: #009900;
    --b-color: #2c2c22;
    --open-san: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --col-clr: #f1f1f1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
}

ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
h3 {
    font-size: 19px;
    font-family: var(--oswald);
    font-weight: 500;
    text-transform: uppercase;
}
p {
    font-family: var(--open-san);
    font-weight: 400;
    line-height: 24px;
}
.container-full{
    width: 100%;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.row{
    display: flex;
    
    align-items: center;
}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-12{width: 100%;}

.common-heading{
    position: relative;
    display: inline-block;
}
.common-heading>h1{
    font-size: 24px;    
    font-weight: 600;
    text-transform: uppercase;    
}
.common-heading>img{
    position: absolute;
    left: 0;
    bottom:0;
    width: 60%;
}

/*--- Main css Start----*/

.top-menu{
    background-color: var(--clr-top);
    color: #fff;
}
.social-icon{
    display: flex;
    line-height: 2rem;
    justify-content: flex-end;
}
.social-icon li{
    margin-left: 0.5rem;
    width: 2rem;
    text-align: center;
}
.social-icon li>a{
    color: #fff;
    position: relative;
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    z-index: 1;
}

.social-icon li>a::after{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(0);
    transition: transform 0.3s;
}
.social-icon li>a:hover::after{
    transform: scale(1);
    z-index: -1;
}
.social-icon li>a:hover{
    color: var(--clr-top);
}
.logo{
    width: 60px;
    height: 50px;
}

.main-menu>ul{
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.main-menu ul>li {
	margin-left: 1rem;
	text-transform: uppercase;
	padding: 3px 5px;
    font-family: var(--oswald);
    font-weight: 500;
    line-height: 80px;
}

.main-menu ul>li>a{
    color: #000;
    transition: 0.5s;
}

.main-menu ul>li>a:hover{
    color: #4488c3;
}


/*---- Banner Section Start ----*/
.banner{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 87px;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
   }
   
   .banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
   }

.banner-text{
    color: #fff;
    font-family: var(--oswald);
    text-align: right;
}

.banner-text .heading-text{
    text-transform: uppercase;
    padding-bottom: 15px;
}

.banner-text .heading-text h2{
    font-size: 30px;
    font-weight: 400;
}
.banner-text .heading-text h1{
    font-size: 40px;
    font-size: 700;
}
.banner-text p{
    font-size: 13px;
    font-family: var(--open-san);
    font-weight: 400;
    padding-left: 60%;
    line-height: 24px;
    padding-bottom: 20px;
}
.banner-btn a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #fff;
    display: inline-block;
    transition: 0.4s;
}
.banner-btn .button-1{
    margin-right: 20px;
}
.banner-btn a:hover{
    background-color: #0872b9;
    border: 1px solid #0872b9;
}
/*--- Banner-1---*/
 .banner-1{
    position: relative;
    width: 100%;
    height: 400px;
    display: none;
}
   .banner-1 img{
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;
   }
   
   .banner-overlay{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    
   }

.banner-text-1{
    color: #fff;
    font-family: var(--oswald);
    text-align: right;
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner-text-1 .heading-text-1{
    text-transform: uppercase;
   
}

.banner-text-1 .heading-text-1 h2{
    font-size: 30px;
    font-weight: 400;
}
.banner-text-1 .heading-text-1 h1{
    font-size: 40px;
    font-size: 700;
}
.banner-text-1 p{
    font-size: 13px;
    font-family: var(--open-san);
    font-weight: 400;
    padding-left: 60%;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 25px;
}
.banner-btn-1 a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #fff;
    display: inline-block;
    transition: 0.4s;
}
.banner-btn-1 .button-1{
    margin-right: 20px;
}
.banner-btn-1 a:hover{
    background-color: #0872b9;
    border: 1px solid #0872b9;
} 

/*----About Section Start---*/

#about{
    padding-top: 60px;
    text-align: center;
}
.about-main {
    margin-top: 40px;
}
about-image>img {
    width: 100%;
}
.about-text{
    padding-left: 25px;
}
.about-text p{
    text-align: justify;
    
}

/*----Our Services Start---*/
#our-service {
    text-align: center;
    padding-top: 60px;
}
.service-main {
    margin-top: 30px;
}

.service-icon {
	width: 70px;
	height: 70px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.service-icon>img {
    display: inline-block;
    margin-top: 20%;
    position: relative;
    z-index: 2;
}
.service-icon::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--col-clr);
    left: 5%;
    top: 5%;
    z-index: 1;
    transition: 0.5s;
}
.service-icon::after {
	content: "";
	position: absolute;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	border-radius: 50%;
	border: 3px solid #fff;
	left: -4px;
	top: -4px;
}
.service-icon:hover {
    border-color: #5bc5f4;
}
.service-icon:hover::before {
    background-color: #5bc5f4;
}
.service-content {
    background-color: var(--col-clr);
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.service-content>h3 {
    padding-top: 3rem;
}
.service-content>p {
    padding: 1.25rem;
}
.s-icon-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -19%;
}

/* ----- Our Portfolio Section Start-------*/
#our-portfolio {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}
.portfoloi-container {
    margin-top: 30px;
}
.col-b>img, .col-s> {
    width: 100%;
}
.inner-left {
    display: flex;
    flex-direction: column;
}
.inner-left .col-s, .inner-right .col-b {
    margin-bottom: 20px;
    margin-right: 20px;
}
.inner-left .col-b, .inner-right .col-s {
    margin-right: 20px;
}
.col-s {
    height: 220px;
    position: relative;
}
.col-b {
    height: 300px;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.7s;
}
.overlay>a{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #5bc5f4;
}
.overlay>a>i {
	font-size: 1.5rem;
	text-align: center;
	line-height: 3rem;
}
.col-s:hover .overlay, .col-b:hover .overlay{
    visibility: visible;
}